<template>
  <div>
    <br>
    <ui5-title level="H2">Books Title</ui5-title>

    <ui5-table class="demo-table" id="table">
      <!-- Columns -->
      <ui5-table-column slot="columns" style="width: 12rem">
        <span style="line-height: 1.4rem">ID</span>
      </ui5-table-column>

      <ui5-table-column slot="columns">
        <span style="line-height: 1.4rem">Title</span>
      </ui5-table-column>

      <ui5-table-column slot="columns" min-width="600" popin-text="Stock" demand-popin>
        <span style="line-height: 1.4rem">Stock</span>
      </ui5-table-column>

      <ui5-table-column slot="columns" min-width="600" popin-text="Author" demand-popin>
        <span style="line-height: 1.4rem">Author</span>
      </ui5-table-column>

      <ui5-table-row v-for="book in books" :key="book.ID">
        <ui5-table-cell>{{ book.ID }}</ui5-table-cell>
        <ui5-table-cell>{{ book.title }}</ui5-table-cell>
        <ui5-table-cell>{{ book.stock }}</ui5-table-cell>
        <ui5-table-cell>{{ book.author.name }}</ui5-table-cell>
      </ui5-table-row>

    </ui5-table>
  </div>
</template>

<script>
import "@ui5/webcomponents/dist/Title"
import "@ui5/webcomponents/dist/Table.js"
import "@ui5/webcomponents/dist/TableColumn.js"
import "@ui5/webcomponents/dist/TableRow.js"
import "@ui5/webcomponents/dist/TableCell.js"

import odata from '../helper/odata'

export default {
  name: 'books',
  data: () => ({
    books: []
  }),
  methods: {
    async fetchBooks() {
      const books = await odata.get('Books', {
        params: {
          '$expand': 'author'
        }
      })
      this.books = books.data.value
    }
  },
  created() {
    this.fetchBooks()
  }
}
</script>

<style>

</style>