<template>
  <div id="app">
    <header class="app-header" name="app-header">
      <ui5-shellbar primary-title="UI5 Web Components Vue - CAP" />
    </header>
    <section class="app-content">
      <Books />
    </section>
  </div>
</template>

<script>
import Books from './components/Books.vue'

import "@ui5/webcomponents-fiori/dist/ShellBar"

export default {
  name: 'app',
  components: {
    Books
  }
}
</script>

<style>
html, body {
  margin: 0 auto;
}

.app-title {
  margin-left: 1rem;
}
.app-content {
  height: calc(100% - 3rem);
  padding: 0 1rem;
  width: calc(100% - 2rem);
}
</style>
